@import "fonts.css";
@import "~normalize.css";

body {
    font-family: 'space-grotesk', sans-serif;
}

.container{
    padding-top: 2em;
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
    color: blueviolet;
}